<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../css/test.css">
		<title>ポケモン図鑑</title>
	</head>
	<body>
		<h1 class="page_header" >ポケモン図鑑</h1>
		<form action="" method="POST"> 
			<table class="custom">
				<tr>
					<th class="table_header" width="5%">図鑑番号</th>
					<th class="table_header">名前</th>
				</tr>
				<tr>
					<td class="table_cell">1</td>
					<td class="table_cell">フシギダネ</td>
				</tr>
				<tr>
					<td class="table_cell">2</td>
					<td class="table_cell">フシギソウ</td>
				</tr>


			</table>
		</form>
	</body>
</html>