<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../css/table.css">
		<title>データベース登録確認</title>
	</head>
	<body>
		<h1>データベース登録確認</h1>
		<form action="../app/registerCheckIndex.php" method="POST"> 
			<table>
				<tr>
					<td colspan=2>基本情報</td>
				</tr>
				<tr>
					<th>図鑑番号</th>
					<td>{$smarty.post.index}</td>
				</tr>
				<tr>
					<th>名前</th>
					<td>{$smarty.post.name}</td>
				</tr>
				<tr>
					<th>性別</th>
					<td>{$select_gender.NAME}</td>
				</tr>
				<tr>
					<th>タイプ</th>
					<td>{$select_type.NAME}</td>
				</tr>
			</table>
			<!--hidden-->
			<input type="hidden" name="nationwide_id" value={$smarty.post.index}>
			<input type="hidden" name="name" value={$smarty.post.name}>
			<input type="hidden" name="select_gender_id" value={$select_gender.GENDER_ID}>
			<input type="hidden" name="select_type_id" value={$select_type.TYPE_ID}>

			<input type="submit" name="regist" value="登録">
			<input type="submit" name="back" value="戻る">
		</form>
	</body>
</html>